.pros-background {
	background-color: #ededed;
	// height: 900px;
	// padding-top: 50px;
    // padding-bottom: 50px;
    padding-block: 100px;
}

.pros-title {
	text-align: center;
	margin-bottom: 50px;
}

.pros {
	display: flex;
	justify-content: space-between;
	align-items: center;
    gap:10px;
	padding-inline: 50px;

	p{
		max-width: 260px;
	}
}

.pro-left {
    display: flex;
    flex-direction: column;
    gap:30px;

	svg {
		// border-radius: 100%;
		width: 64px;
		height: 64px;
	}
}

.pro-left-text{
    display: flex;
    align-items: center;
    gap: 30px;

}

.pros-midle {
	img {
		border-radius: 100%;
		width: 250px;
		height: 250px;
	}
}

.pros-right {
    display: flex;
    flex-direction: column;
    gap:30px;
	svg {
		// border-radius: 100%;
		width: 64px;
		height: 64px;
	}
}
