.prichina {
	padding-block: 100px;
}

.prichina-wrapper {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.prichina-title {
	text-align: center;
	margin-bottom: 50px;
}

.prichina-img-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;

	svg {
		max-width: 40px;
		max-height: 40px;
	}
}

.prichina-text {
	max-width: 600px;
	text-align: center;
}

.prichina-subtitle {
	margin-bottom: 20px;
}
